.chat-side
  .chat-head
    .side-head__box1
      %p.side-head__box1__user-name
        = current_user.name
      %ul.side-head__box1__menu
        = link_to new_group_path, class: "side-head__box1__menu__edit-user" do
          = fa_icon 'pencil-square-o'
        = link_to edit_user_path(current_user), class: "side-head__box1__menu__edit-user" do
          = fa_icon 'cog'  
  .chat-groups
    - current_user.groups.each do |group|
      %a{:href => "/groups/#{group.id}/messages"}
        .group
          %p.group__group-name 
            = group.name
          %p.show_last_message
            = group.show_last_message
            


